---
http_interactions:
- request:
    method: get
    uri: http://dev.markitondemand.com/Api/v2/Quote/json?symbol=AAPL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","Name":"Apple Inc","Symbol":"AAPL","LastPrice":114.33,"Change":0.929999999999993,"ChangePercent":0.820105820105814,"Timestamp":"Wed
        Sep 23 15:59:00 UTC-04:00 2015","MSDate":42270.6659722222,"MarketCap":651992206260,"Volume":3202664,"ChangeYTD":110.38,"ChangePercentYTD":3.57854683819533,"High":114.72,"Low":113.3,"Open":113.59}'
  recorded_at: Thu, 24 Sep 2015 04:05:51 GMT
recorded_with: VCR 2.9.3
