---
http_interactions:
- request:
    method: get
    uri: http://dev.markitondemand.com/Api/v2/Quote/json?symbol=UTX
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","Name":"United Technologies Corp","Symbol":"UTX","LastPrice":86.95,"Change":-1.25,"ChangePercent":-1.4172335600907,"Timestamp":"Wed
        Sep 23 15:59:00 UTC-04:00 2015","MSDate":42270.6659722222,"MarketCap":77437496100,"Volume":417933,"ChangeYTD":115,"ChangePercentYTD":-24.3913043478261,"High":88.31,"Low":85.91,"Open":88.25}'
  recorded_at: Thu, 24 Sep 2015 04:16:14 GMT
recorded_with: VCR 2.9.3
