<div class="home-container">
  <h1 class="home", id="big-welcome">Welcome to <span id="big-title">StockWatcher</span></h1>
  <h2 class="home", id="tagline">Portfolio construction made easy</h2><br>
  <%= link_to "Log in with Facebook", stocks_path, class: "btn btn-lg btn-default btn-home", id: "main-button" %><br><br>
  <span id="login-guide">You will need a Facebook account to log in. If you don't have one, <%= link_to "create one.", "http://www.facebook.com/" %></span>
</div>
