<div class="home-container">
  <h1 class="home", id="big-welcome">Welcome to <span id="big-title">StockWatcher</span></h1>
  <h2 class="home", id="tagline">Portfolio construction made easy</h2><br>
  <%= link_to "Login with Yahoo!", "/auth/github", class: "btn btn-lg btn-default btn-home", id: "main-button" %>
</div>
