body {
  background-image: image-url("trade-finance.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header-tagline {
  color: green;
}

.jumbotron.hero-spacer {
  padding-top: 10px;
  padding-bottom: 10px;
}


//Welcome
.home-container {
  text-align: center;
  background-color: #EEE;
  border-style: groove;
  padding-bottom: 15px;
  opacity: 0.95;
  margin-top: 15px;
}

#tagline {
  color: #777;
  font-family: Avantgarde, sans-serif;
  font-size: 30px;
}

#main-button {
  border-style: solid;
  border-width: medium;
  border-radius: 15px;
  border-color: #BBB;
  background-color: purple;
  color: #EEE;
  margin-top: -10px;
}

#main-button:hover {
  border-style: solid;
  border-width: medium;
  border-radius: 15px;
  border-color: #AAA;
  background-color: #992299;
  color: #FFF;
}

#big-welcome {
  font-family: "Gill Sans", sans-serif;
  font-weight: 500;
  font-size: 50px;
}

#big-title {
  color: purple;
  font-weight: 500;
  font-style: italic;
}


//Dashboard
.dashboard-body {
  background-image: none;
}

.jumbotron.hero-spacer {
  background-color: #EEE;
  margin-top: 30px;
}

.navbar-brand {
  font-size: 20px;
  font-weight: bolder;
}

.collapse.navbar-collapse {
  font-size: 15px;
}

#jumbo-text {
  font-size: 50px;
}

.navbar.navbar-inverse.navbar-fixed-top {
  background-color: #449944;
}

.img-circle.img-thumbnail.home-image {
  width: 100px;
  height: 100px;
}

.starred-repo {
  text-align: left;
  padding-left: 10px;
}

#starred {
  color: green;
}

#profile-rep-box {
  height: 540px;
}

#commit-boxes {
  height: 510px;
}

#org-cont-boxes {
  height: 200px;
}

.thumbnail {
  border-width: medium;
  border-radius: 25px;
}
