body {
  background-image: image-url("stocks2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header-tagline {
  color: green;
}

.jumbotron.hero-spacer {
  padding-top: 10px;
  padding-bottom: 10px;
}

div.alert {
 border: 2px solid #aaa;
 padding: 10px;
}

div.flash.success {
 border: 2px solid green;
 color: green;
 font-size: 15px;
 background-color: #EEE;
 text-align: center;
}

div.flash.error {
 border: 2px solid red;
 color: red;
 font-size: 15px;
 background-color: #EEE;
 text-align: center;
}

div.flash.notice {
 border: 2px solid blue;
 color: blue;
}

.copyright-index {
  margin-top: -35px;
}


//Welcome
.home-container {
  text-align: center;
  background-color: #EEE;
  border-style: groove;
  padding-bottom: 15px;
  opacity: 0.95;
  margin-top: 15px;
}

#tagline {
  color: #777;
  font-family: Avantgarde, sans-serif;
  font-size: 30px;
}

#main-button {
  border-style: solid;
  border-width: medium;
  border-radius: 15px;
  border-color: #BBB;
  background-color: #AA3333;
  color: #EEE;
  margin-top: -10px;
}

#main-button:hover {
  border-style: solid;
  border-width: medium;
  border-radius: 15px;
  border-color: #AAA;
  background-color: #AA4444;
  color: #FFF;
}

#big-welcome {
  font-family: "Gill Sans", sans-serif;
  font-weight: 500;
  font-size: 50px;
}

#big-title {
  color: #AA3333;
  font-weight: 500;
  font-style: italic;
}

#login-guide {
  color: #777;
}


//Dashboard
.dashboard-body {
  background-image: none;
}

.jumbotron.hero-spacer {
  background-color: #EEE;
  margin-top: 30px;
}

.navbar-brand {
  font-size: 21px;
  font-weight: bolder;
}

.collapse.navbar-collapse {
  font-size: 17px;
}

#jumbo-text {
  font-size: 50px;
  margin-top: 10px;
}

.jumbotron.hero-spacer {
  border-style: groove;
  border-width: medium;
  border-color: #CCC;
  margin-top: 20px;
}

.navbar.navbar-inverse.navbar-fixed-top {
  background-color: #AA3333;
}

// #logout-background:hover {
//   background-color: #CCC;
// }

.img-thumbnail-index {
  height: 50px;
  width: 50px;
  border-radius: 25px;
}

#profile-rep-box {
  height: 320px;
  margin-top: -20px;
}

.name {
  font-weight: bolder;
}

.symbol {
  font-weight: bolder;
}

.lastprice {
  font-weight: bolder;
}

.change {
  font-weight: bolder;
}

.changepercent {
  font-weight: bolder;
}

.trendanalysis {
  font-weight: bolder;
}

.trend {
  color: #BB3333;
}

#commit-boxes {
  height: 300px;
}

#org-cont-boxes {
  height: 300px;
}

.thumbnail {
  border-width: medium;
  border-radius: 25px;
}

#welcome-message {
  color: #777;
}

#stockwatcher-title {
  font-family: "Gill Sans", sans-serif;
  font-weight: 500;
  font-size: 55px;
  color: #AA3333;
  font-style: italic;
}

#box-data {
  text-align: left;
  margin-left: 10px;
}

#your-watchlist {
  text-align: center;
  font-weight: 500;
  padding-bottom: 35px;
  margin-top: -5px;
  color: #555;
}



//Show page
#show-title {
  text-align: center;
}

.thumbnail {
  background-color: #FAFAF8;
  border-color: #777;
}

.thumbnail.graph-placeholder {
  background-color: #FFF;
  border-color: #FFF;
}

#key-trading-statistics {
  position: absolute;
  right: -200px;
  width: 800px;
  height: 230px;
  top: 520px;
}

.high {
  font-weight: bolder;
}

.low {
  font-weight: bolder;
}

.open {
  font-weight: bolder;
}

.marketcap {
  font-weight: bolder;
}

.volume {
  font-weight: bolder;
}

.changeytd {
  font-weight: bolder;
}

.changepercentytd {
  font-weight: bolder;
}

#stock-show-title {
  font-weight: 500;
  margin-bottom: -5px;
}

.key-stats-title {
  margin-top: 2px;
}

#show-page-data {
  text-align: left;
  margin-left: 15px;
}

#show-page-trend-data {
  text-align: left;
  margin-left: 15px;
}

#trend-analysis-detail {
  position: absolute;
  right: -200px;
  width: 800px;
  height: 140px;
  top: 740px;
}

.add-another-stock-button {
  padding-top: 5px;
}

.delete-button {
  display: inline-block;
}

.add-another-stock-button {
  display: inline-block;
}

.purchase-stock-button {
  display: inline-block;
}

.caption.show {
  margin-top: -20px;
}

// New page
.new-body {
  background-image: image-url("stocks3.jpg");
}

#new-stock-form {
  text-align: center;
  padding-top: 25px;
}

.ticker-label {
  color: #DDD;
  font-size: 20px;
}



.thumbnail.graph-placeholder {
  position: absolute;
  right: -200px;
  width: 800px;
  height: 300px;
  background-color: #FFF;
}
